<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="ActiveDirectoryEndpoint" value="https://login.microsoftonline.com/" />
        <add key="ResourceManagerEndpoint" value="https://management.azure.com/" />
        <add key="WindowsManagementUri" value="https://management.core.windows.net/" />

        <add key="ApplicationId" value="9ae94654-5514-4eaa-8979-caf05a1843d3" />
        <add key="Password" value="apppassword" />
        <add key="SubscriptionId" value= "66db569d-7d26-4c52-b0c5-f06c643d2d12" />
        <add key="ActiveDirectoryTenantId" value="49858e05-5d02-47a9-b622-c96ada08d9ff" />
    </appSettings>
</configuration>